node_modules
.expo
dist
build
*.log
.env
*.env.local
*.env.development
*.env.production
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
android/app/debug.keystore
android/local.properties
*.apk
*.aab
*.keystore
*.jks
.expo-shared
.idea/
*.iml
.DS_Store
